{
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "singleQuote": false,
  "semi": false,
  "useTabs": false,
  "proseWrap": "always",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "trailingComma": "es5"
}
